:root {
    --dark-color: #19283f;
    --green: #33d1cc;
    --red: #ff3150;
    --yellow: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}

.main-btn {
    background-color: var(--red);
}

.main-btn:hover {
    background-color: var(--red);
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
    color: white;
}

.navbar .container {
    color: white
}

.navbar .nav-item .nav-link{
    color: white;   
}

.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus{
    color: var(--green);
}

.navbar .search {
    border-left: 1px solid var(--green);
    color:  var(--green);
    cursor: pointer;
}

/* .navbar .btn {
    width: 5rem;
    background-color: #19283f;
    border: 2px solid var(--green);
} */

/* .navbar .btn:hover {
    background-color: var(--green);
    color: var(--dark-color);
} */

/* End Navbar */
/* Start Landing */
.landing {
    background-color: var(--dark-color);
    color: white;
    height: calc(100vh - 56px);
}

.landing .text-center {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* End Landing */
/* Start Features */

.features {
    height: calc(100vh - 56px);
    width: 100%;
}

.main-title::after {
    content: "";
    background-color: var(--green);
    width: 300px;
    height: 2px;
    position: absolute;
    transform: translateX(-150px);
}

.features .row .number {
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.1;
    font-size: 250px;
    z-index: -1;
}

.features .row .icon {
    top: 5rem;
    left: 50%;
    font-size: 50px;
    transform: translateX(-50%);
    color: var(--green);
    opacity: 0.6;
}

.features .row .content{
    padding-top: 150px;
}

.features .row .content h3 {
    color: var(--yellow);
}
/* End Features */
/* Start OurWork */
.our-work {
    width: 100%;
    background-color: var(--section-color);
    /* margin-bottom: 300px; */
}

.our-work ul .active {
    background-color: var(--red);
    color: var(--yellow);
}

.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.our-work ul li:hover {
    color: var(--yellow);
}

.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before{
    content: attr(data-work);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #33d1cca7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--section-color);
    font-weight: bold;
    transition: 0.3s ease-out;
    transform: translateX(calc(-100% - 5px));
}

.our-work .box:hover::before{
    transform: translateX(0);
}

@media only screen and (max-width: 991px) {
    .our-work {
      margin-top: 450px;
    }
}

@media only screen and (max-width: 767px) {
    .our-work {
      margin-top: 800px;
    }
}
/* End OurWork */
/* Start Stuff */
.stuff .description {
    max-width: 600px;
}

.stuff .row .description,
.stuff .row h3,
.stuff .row a {
    align-self: left;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    
}
/* End Stuff */
/* Start Team */
.team {
    background-color: var(--section-color);
}

.team h3 {
    color: var(--yellow);
    font-weight: bold;
}

.team .box h4{
    color: white;
    background-color: var(--green);
    font-weight: bold;
}
/* End Team */
/* Start Project */

.project {
    background-color: var(--dark-color);
    /* color: white; */
}
/* End Project */
/* Start Subscribtion */
.subscribe {
    background-color: var(--yellow);
}

.subscribe.container h4 {
    color: var(--dark-color);
}

.subscribe-btn {
    background-color: var(--dark-color);
    color: var(--section-color);
    border: 1px solid var(--dark-color);
}

.subscribe-btn:hover {
    background-color: var(--dark-color);
    color: var(--section-color);
    border: 1px solid var(--section-color);
}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe input[type="text"]::placeholder {
    color: white;
}
/* End Subscribtion */
/* Start Footer*/
.footer {
    background-color: var(--dark-color);
}
/* End Footer*/